<div id="FacultyMenu">
  <form id="menu">
    <h1>Download Marks sheet of students</h1>
    <h3>Select Year</h3>
    <select name="year" [(ngModel)]="year">
        <option  *ngFor="let i of facDetails">{{i.year}}</option>      
    </select>
    <h3>Select section</h3>
    <select name="section" [(ngModel)]="section">
      <option *ngFor="let i of facDetails">{{i.section}}</option>
    </select>
    <h3>Click here to get marks</h3>
    <input type="submit" name="submit" value="GET MARKS" (click)="getMarks()" class="btn btn-primary">
    <br>
    <div *ngIf="viewMarks">
      <table class="table table-striped">
        <tr>
          <td>UserName</td>
          <td>Marks</td>
        </tr>
        <tr *ngFor="let student of students">
          <td>{{student.username}}</td>
          <td>{{student.marks}}
      </table>
      <input type="submit" (click)="download()" value="download" class="btn btn-warning">
    </div>
    <hr>
  </form>
</div>
