<br><br><br>
<div class="row">
  <div class="col-sm-12">

<div id="questionEditor" style="border: 2px solid black;padding:4%;">
    <form id="menu">
    <div class="row">
      <input type="submit" name="showMarks" value="GET MARKS" class="btn btn-danger" (click)="showMarksMenu()">
    </div>
    <div class="row" *ngIf="showDownloadMarks">
        <app-faculty-menu></app-faculty-menu>
    </div>
        <div class="row">
           <h1 style="color:red;text-shadow:2px 2px 2px;">Post a Question</h1>
          <h2>Select Year : </h2>
          <select name="selectedYear" [(ngModel)]="selectedYear">
            <option *ngFor="let i of facDetails">{{i.year}}</option>
          
          </select>
          
        </div>

        <div class="row">
         <h2>Select Section : </h2>
         <select name="selectedSection" [(ngModel)]="selectedSection">
           <option  *ngFor="let i of facDetails">{{i.section}}</option>
         </select>
         
       </div>
    
        <div id="row">
          <h2>Select week</h2>  
          <select name="selectedYear" [(ngModel)]="week">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </div>
      <div class="row">
          <h1>Post your Question Name</h1>
          <textarea name="questionName" cols="90" rows="2" [(ngModel)]="questionName" placeholder="Problem Statement"></textarea>
          
          <h2>Your question must include :
            1. Problem 2.Sample Input&Output
          </h2>
          <textarea name="problem_stmt" cols="90" rows="10" [(ngModel)]="question" placeholder="Problem"></textarea>
      </div>
      <div class="row">
        <h2>Enter the number of test cases for input :</h2>
        <input type="text" name="noOfTestCases" [(ngModel)]="n" ><input type="submit" name="submitNo" (click)="testCases()">
        <div  *ngIf="showTestInputBox">
        <h2>Enter Input Test Cases :</h2>
        <ul>
          <li *ngFor="let i of arr"><input type="text" name="testCase" [(ngModel)]="input[i]" />{{input[i]}}</li>
        </ul>
        <h2>Enter Output Test Cases :</h2>
        <ul>
          <li *ngFor="let i of arr"><input type="text" name="testCase" [(ngModel)]="output[i]" />{{output[i]}}</li>
        </ul>
    </div>
      </div> 
      <div class="form-group" *ngIf="showTestInputBox"> 
          <div class="col-sm-offset-5 col-sm-2">
            <button type="submit" class="btn btn-default" (click)="submitQuestion()">Submit Question</button>
          </div>
        </div>
        
    
    </form>
       </div>
    
  </div>
  <!-- <div class="col-sm-6" style="border: 2px solid black;margin-top:2.5%;padding:2%;background-color:#f1f1f1">
  
    <app-show-questions-faculty></app-show-questions-faculty>
  </div> -->


</div>

