<div class="row">
  <div class="col-sm-3" style="margin-left:2%;margin-right:2%;">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/62495-200.png" width="100%" height="70%" alt="code">
  </div>
  <div id="loginForm" class="col-sm-8">


    <h1 style="margin-left:4%;text-shadow:2px 2px 2px;">Register Student</h1>
    <form class="form-horizontal" [formGroup]="form">
      <div class="form-group">
        <br>
        <br>
        <label class="control-label col-sm-5" for="uname">Username</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" name="uname" formControlName="username" placeholder="Enter Username">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="pwd">Password</label>
        <div class="col-sm-2">
          <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter password">
        </div>
      </div>
     
        <div class="form-group">
          <label class="control-label col-sm-5" for="year">Year</label>
          <div class="col-sm-2">
              <select formControlName="year">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
              </select>
          </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-sm-5" for="year">Section</label>
            <div class="col-sm-2">
                <select formControlName="section">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
             </div>
          </div>


        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-2">
            <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>
        </div>
    </form>
    <br>
    <br>

   
    